* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;

  border-radius: 10px;
}

:root {
  /* COLORS */
  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);
  --Grey-800: hsl(0, 0%, 19%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);

  /* FONT */
  --ff-heading: "Young Serif";
  --ff-body: Outfit;

  --fs-body: 1rem;
  --fs-h3: 1.25rem;
  --fs-h2: 1.75rem;
  --fs-h1: 2.5rem;

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
}

body {
  background-color: var(--Stone-100);
  padding: 6rem;

  font-family: var(--ff-body);
  color: var(--Stone-600);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);

  display: grid;
  place-items: center;
}

ul,
ol {
  padding-left: 1.5rem;
}

.container {
  background-color: var(--White);
  width: 50%;

  padding: 2.5rem;
  border-radius: 20px;

  display: grid;
  gap: 1rem;
}

h1,
h2 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-regular);
  margin-block: 1rem;
}

h1 {
  font-size: var(--fs-h1);
  color: var(--Grey-800);
}

h2 {
  font-size: var(--fs-h2);
  color: var(--Brown-800);
}

.preparation-time {
  background-color: var(--Rose-50);

  padding: 1.5rem;
  border-radius: 10px;
  margin-top: 1rem;
}

.preparation-time h2 {
  font-family: var(--ff-body);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-h3);
  color: var(--Rose-800);
  margin-block: 0.5rem;
}

.preparation-time ul li::marker {
  color: var(--Rose-800);
}

ul li::marker,
ol li::marker {
  color: var(--Brown-800);
}

ol li::marker {
  font-weight: var(--fw-bold);
}

li {
  padding-left: 1rem;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;

  margin-block: 1rem;
}

.nutrition-table th {
  text-align: start;
  font-weight: var(--fw-regular);
}

.nutrition-table td {
  color: var(--Brown-800);
  font-weight: var(--fw-bold);
}

tr {
  border-bottom: 1px solid rgba(95, 87, 78, 0.3);
}

tr:last-child {
  border-bottom: none;
}

th,
td {
  padding-block: 0.75rem;
  padding-inline: 2rem;
}

hr {
  margin-block: 1rem;
  opacity: 0.3;
}

li + li {
  margin-top: 0.5rem;
}

@media (width <1024px) {
  .container {
    width: 100%;
    padding: 0rem;
  }

  .recipe-container {
    padding-inline: 2rem;
  }

  body {
    padding: 0;
  }

  img {
    border-radius: 0px;
  }
}
